<!DOCTYPE html>

<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='simple.css') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
  <link
    rel="icon"
    href="{{ url_for('static', filename='favicon.ico') }}"
    type="image/x-icon"
  />
</head>
<body>
  <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <title>Appliance status page</title>
  <header>
    <h1>Status page</h1>
    <nav>
      {% macro nav_link(endpoint, name) %}
        {% if request.endpoint.endswith(endpoint) %}
          <a class="active" href="{{ url_for(endpoint) }}">{{ name }}</a>
        {% else %}
          <a href="{{ url_for(endpoint) }}">{{ name }}</a>
        {% endif %}
      {% endmacro %}
      {{ nav_link('status', 'Status') }}
      {{ nav_link('leases', 'Network leases (advanced)') }}
    </nav>
  </header>
  <main>{% block content %}{% endblock %}</main>
</body>
